/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	--clr-accent-400: #949494;
	--clr-accent-300: #2F2F2F;
	--clr-accent-100: #202022;

	--clr-primary-400: #FFFFFF;

	--clr-neutral-900: ;
	--clr-neutral-100: #151515;

	--ff-primary: "Roboto Mono", "Montserrat", sans-serif;

	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-regular: 400;
	--fw-semi-bold: 500;
	--fw-bold: 700;

	--fs-300: .8125rem;
	--fs-400: .875rem;
	--fs-500: .9375rem;
	--fs-600: 1rem;
	--fs-700: 1.875rem;
	--fs-800: 2.5rem;
	--fs-900: 3.5rem;

	--fs-body: var(--fs-400);
	--fs-primary-heading: var(--fs-800);
	--fs-secondary-heading: var(--fs-700);
	--fs-nav: var(--fs-500);
	--fs-button: var(--fs-300);

	--size-100: .25rem;
	--size-200: .5rem;
	--size-300: .75rem;
	--size-400: 1rem;
	--size-500: 1.5rem;
	--size-600: 2rem;
	--size-700: 3rem;
	--size-800: 4rem;
	--size-900: 5rem;
}

@media (min-width: 50em) {
	:root {
		--fs-body: var(--fs-500);
		--fs-primary-heading: var(--fs-900);
		--fs-secondary-heading: var(--fs-800);
		--fs-nav: var(--fs-300);
	}
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary-400 {
	color: var(--clr-primary-400);
}

.text-accent-400 {
	color: var(--clr-accent-400);
}

.text-accent-100 {
	color: var(--clr-accent-100);
}

.text-neutral-100 {
	color: var(--clr-neutral-100);
}

.text-neutral-900 {
	color: var(--clr-neutral-900);
}

.bg-primary-400 {
	background-color: var(--clr-primary-400);
}

.bg-accent-400 {
	background-color: var(--clr-accent-400);
}

.bg-accent-100 {
	background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
	background-color: var(--clr-neutral-900);
}

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regular { font-weight: var(--fw-regular); }

.fs-primary-heading {
	font-size: var(--fs-primary-heading);
	line-height: 1.1;
}

.fs-secondary-heading {
	font-size: var(--fs-sec);
	line-height: 1.1;
}

.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }

.padding-block-900 {
	padding-block: var(--size-900);
}

.padding-block-700 {
	padding-block: var(--size-700);
}

.container {
	--max-width: 78rem;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;

}

:where(.flow :not(:first-child)) {
	margin-top: var(--flow-spacer, 1em);
}

.card {
	background-color: var(--clr-accent-100);
	padding: 3rem;
}

@media (min-width: 50em) {
	.even-columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

/* General Styling */

body {
	font-size: var(--fs-body);
	font-family: var(--ff-body);
	color: var(--clr-primary-400);
	background-color: var(--clr-neutral-100);
}

.even-columns {
	display: grid;
	gap: 1rem;
}

.left-column {
	max-width: 28rem;
}

.right-column h3 {
	font-size: var(--size-500);
	color: var(--clr-primary-400);
}

.right-column p {
	color: var(--clr-accent-400);
}

.card-link a {
	text-decoration: none;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
	display: inline-block;
}

.card-link a:hover {
	-webkit-transition: all 0.2s ease-in;
	-webkit-transform: scale(1.1);
	-ms-transition: all 0.2s ease-in;
	-ms-transform: scale(1.1);
	-moz-transition: all 0.2s ease-in;
	-moz-transform: scale(1.1);
	transition: all 0.2s ease-in;
	transform: scale(1.1);
}

.card:hover {
	background-color: var(--clr-accent-300);
}

.left-column h2 {
	font-size: var(--size-500);
	margin-bottom: 2rem;
}

.left-column p {
	color: var(--clr-accent-400);
}

/* Navigation */

.primary-navigation {
	display: none;
}

.nav-links {
	font-size: var(--fs-nav);
	padding: var(--size-600);
	padding-left: 0;
}

.nav-links a {
	text-decoration: none;
	color: var(--clr-accent-400);
}

.nav-links a:hover,
.nav-links a:focus {
	color: var(--clr-primary-400);
}

.social-copyright {
	padding: 1em;
	color: var(--clr-accent-400);
}

@media (max-width: 50em) {
	.primary-navigation {
		display: none;
	}

	.card-link a:hover {
		transform: scale(1.0);
	}
}

/* Social-Media Menu Properties */

.social-menu {
	margin-top: auto;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.social-menu li {
	list-style: none;
	display: inline-block;
}

.wrapper-start {
}

.wrapper {
  display: inline-flex;
  list-style: none;
  padding-top: 40px;
}

.wrapper .icon {
  position: relative;
  background: var(--clr-accent-100);
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077B5;
  color: #ffffff;
}
/*background: #171515;*/
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #787A91;
  color: #ffffff;
}

.wrapper .resume:hover,
.wrapper .resume:hover .tooltip,
.wrapper .resume:hover .tooltip::before {
  background: #F8B500;
  color: #ffffff;
}

.wrapper .envelope:hover,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}





































